


.inside{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.box{
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 30px;
    background: transparent;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}


.box img{
    width: 300px;
}

.symbol{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: white;
    text-align: center;
}

button{
    cursor: pointer;
}

.btn-yes{
    width: 60px;
    height: 35px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: rgb(255, 0, 179);
}

.btn-yes:hover{
    background-color: rgb(255, 92, 206);
}

.btn-no{
    position: absolute;
    background-color: brown;
    width: 60px;
    height: 35px;
    border-radius: 10px;
    color: white;
    border: none;
    margin-left: 20px;
}

p{
    text-align: center;
    color: white;
    margin-top: 50px;
}

/* 320 */

@media (max-width : 600px){
    .box img{
        width: 150px;
    }

    p{
        padding: 50px;
        margin-top: -20px;
    }
    
}