
.inputs{
   margin-top: 50px;
   margin-bottom: 50px;
}

.naming{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.naming label{
    color: white;
}

.naming input{
    width: 200px;
    padding: 8px;
    border: none;
    border-radius: 10px;
}

.enter-btn{
    width: 60px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 0, 221);
    color: white;
}